<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>IPLyC Backend | Login</title>
</head>

<body>
	<form th:action="@{/registration}" method="GET">
		<button type="Submit">Ir a la página de registro</button>
	</form>	
	
	<form th:action="@{/login}" method="POST">
			
		<h3 th:text="Bienvenido"></h3>
		 
		<input type="text" id="username" name="username"  th:placeholder="Username"/><br/> 
		<input type="password" id="password" name="password" th:placeholder="Password"/><br/> 
			
		<div align="left" th:if="${param.error}">
			<p>Usuario o contraseña inválidos.</p>
		</div>
		
		<br/>
		
		<button name="Submit" value="Login" type="Submit" th:text="Login"></button>
	
	</form>

</body>
</html>