<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>IPLyC Backend | Registro</title>
</head>
<body>
	<form th:action="@{/}" method="GET">
		<button type="Submit">Ir a la página de login</button>
	</form>	
	
	<form action="#" th:action="@{/registration}" th:object="${user}" method="POST" role="form">
 		
 		<h3>Formulario de registro</h3>
					
		<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
		<input type="text" th:field="*{firstName}" placeholder="Nombre"/><br/>

		<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
		<input type="text" th:field="*{lastName}" placeholder="Apellido"/><br/>

		<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
		<input type="text" th:field="*{username}" placeholder="Usuario"/><br/> 

		<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
		<input type="text" th:field="*{email}" placeholder="Email"/><br/>

		<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
		<input type="password" th:field="*{password}" placeholder="Contraseña"/><br/>
		
		<label th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></label>
		<select th:field="*{roles}">
			<option value=""> -- </option>
			<option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.role}"></option>
		</select>
		
		<br> 
	
		<button type="submit">Registrarse</button>
			
		<span th:utext="${successMessage}"></span>		
					
		</form>

</body>
</html>